body {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    color: black;
    font-size: 1em;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}

.soustitre-h1 {
    color: black;
    font-size: 0.8em;
    font-style: normal;
    text-align: left;
}


.container-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    width: 50%;
    padding: 10px;
    margin: auto;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    width: 61.09px;
    height: 19px;
    margin-bottom: 25px;
}

.logo_booki_3x {
    display: none;
    flex-wrap: wrap;
}

.liens-nav {
    color: #0065fc;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 14px 16px;
    margin-top: 15px;
    gap: 10px;
}

.nav-btn-hebergement {
    color: #0065fc;
    background-color: white;
    border-top: 2px solid #0065fc;
    border-bottom: none;
    border-left: none;
    border-right: none;
}


a[title*="hebergements"] {
    color: #0065fc;
}

a[title*="activites"]:active {
    color: #0065fc;
    background-color: #deebff;
}

.nav-btn-activites {
    color: black;
    text-decoration: none;
    border: none;
    background-color: white;
}


.container-search {
    display: inline-block;
    border: 2px solid #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

form {
    border: none;
    padding: 0;
    object-fit: cover;
}

.btn-location {
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    object-fit: cover;
}

.fa-location-dot {
    color: black;
    padding: 5px;
}

.button-search {
    color: white;
    border: none;
    text-align: center;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    padding: 1px 7px 0px 7px;
}

.rechercher {
    height: max-content;
}

.button-magnifying-glass {
    color: white;
    border: none;
    text-align: center;
    background-color: #0065fc;
    border-radius: 7px;
    padding: 13px;
    display: none;
}

input {
    font-size: small;
    border: none;
    text-align: center;
    background-color: white;
    font-weight: bold;
    vertical-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    height: min-content;
}

.soustitre-h1 {
    color: black;
}

.container-filtres {
    font-size: small;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: auto;
    justify-content: space-between;
    gap: 20px;
}

.text-filtres {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 10px;
    font-weight: 700;
    font-size: 1.1em;
}

.text-filtres-responsive {
    display: none;
}

.btn-filtres {
    font-size: small;
    background-color: white;
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    font-weight: 600;
    margin: 7px;
}

.fa-money-bill-wave {
    color: #0065fc;
}

.fa-person {
    color: #0065fc;
}

.fa-heart {
    color: #0065fc;
}

.fa-fire {
    color: #0065fc;
}

.btn-filtres:hover {
    background-color: #deebff;
}

.container-info {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 10px 5px 10px 0px;
    justify-content: flex-start;
    text-align: start;
    gap: 5px;
}


.btn-info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: #0065fc;
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    height: min-content;
    margin: 10px 0 0 5px;

}


.logements-cette-ville {
    font-size: 0.7em;
    display: flex;
    font-size: small;
}

h2 {
    color: black;
    font-size: 1em;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}

.container-hebergements-et-populaires-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 600px;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.title-populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 5px;
    font-style: normal;
    background-color: #f2f2f2;

}

.fa-chart-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #0065fc;
}

.container-populaires_cards {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 600px;
    width: 33%;
    gap: 20px;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;

}

.cards-plus-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    width: 100%;
    gap: 20px;
}

.card-populaires {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: auto;
    height: 145px;
    border-radius: 20px;
    background: white;
    padding: 3px;
    line-height: 70%;
}


a {
    color: black;
    text-decoration: none;

}

h3 {
    color: black;
    font-size: 1em;


}

.card-image_populaires {
    width: 33%;
    height: 145px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    gap: 3px;
}

.card_star-populaire {
    color: #0065fc;
    margin: 45px 0 5px 0;
}

.card_star-inactive {
    color: #f2f2f2;
    align-items: end;
}

.card-caption_populaire {
    display: flex;
    flex-direction: column;
    font-size: small;
    justify-content: space-between;
    width: 67%;
    font-weight: 400;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    text-align: left;
}

.title-hebergements {
    padding-right: 25px;
    font-size: larger;

}

.container-hebergements_title {
    background-color: #f2f2f2;
    width: 65%;
    height: 600px;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 0px 15px 20px;
}

.container-hebergements_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    padding: 15px 10px 15px 0px;

}

.card-hebergements {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 207px;
    border-radius: 15px;
    display: inline;
    align-items: flex-start;
    background: white;
    padding: 3px;
}

.card_star-hebergement {
    color: #0065fc;
    display: inline-block;
    align-items: bottom;
    margin: 0 0 3px 5px;

}

.card-image_hebergements {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card-desc_hebergement {
    display: inline-block;
    text-align: start;
    font-size: small;
    line-height: 70%;
    margin-left: 7px;
}

.affichez-plus {
    font-weight: 600;
    font-size: small;
    text-align: left;
}

.activites-title {
    padding: 30px 0px 0px 20px;
    display: flex;

}

.container-activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    width: 100%;
    gap: 10px;
}

.gallery {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #f2f2f2;
    border-radius: 16px;
    width: 23%;
    height: auto;

}

.gallery img {
    width: 100%;
    height: 300px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.description {
    font-size: small;
    padding: 15px;
    text-align: left;
    font-weight: 600;
}

.container-main_footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: start;
    width: 100%;
    margin-top: 30px;
}

.footer {
    font-size: small;
    padding-left: 20px;
    font-weight: 400;
    width: 33.33%;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


h4 {
    padding-top: 10px;
    margin: 0;
}

/* tablette------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    a {
        width: 32%;
    }

    .text-filtres {
        display: none;

    }

    .text-filtres-responsive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: medium;
        font-weight: 600;
        padding-right: none;
    }

    .container-search {
        display: inline-block;
        object-fit: cover;
    }

    .container-hebergements-et-populaires-cards {
        display: flex;
        flex-direction: column;
        background-color: none;
        width: 100%;
        height: 80%;
        gap: 20px;
    }

    .container-hebergements_title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #f2f2f2;
        width: auto;
        padding: 10px 0 10px 25px;
    }

    .container-populaires_cards {
        display: flex;
        flex-wrap: nowrap;
        background-color: #f2f2f2;
        width: auto;
        height: 250px;
        padding: none;

    }

    .cards-plus-populaires {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #f2f2f2;
        width: auto;
        gap: 15px;
        padding: 10px;
    }


    .card-populaires {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 150px;
    }


    .card-image_populaires {
        display: flex;
        justify-content: space-between;
        width: 33.33%;
        height: 150px;
    }

    .card-caption_populaire {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: small;
        flex-direction: column;
        box-sizing: border-box;
        line-height: 80%;
    }

    .container-activites {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }

    .gallery img {
        width: 100%;
        height: 80%;
    }



}

/* mobile--------------------------------------------------------------------*/
@media screen and (max-width: 767px) {


    .container-logo {
        display: flex;
        justify-content: center;

    }

    .logo {
        display: none;
    }

    .logo_booki_3x {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 61.09px;
        height: 19px;
    }

    .liens-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .nav-btn-hebergement {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }

    h1 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .soustitre-h1 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .btn-location {
        display: inline-flex;
        padding: 8px;
        height: min-content;
        width: auto;
    }

    .flex-row-center {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-search {
        display: flex;
        justify-content: center;
    }

    .button-search {
        display: none;
    }

    .button-magnifying-glass {
        display: inline-flex;
        border-radius: 7px;
        height: auto;
        color: white;
        border: none;
        text-align: center;
        background-color: #0065fc;
    }

    input {
        display: inline-block;
        padding: none;
        width: auto;
    }


    .text-filtres {
        display: none;

    }

    .text-filtres-responsive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: unset;
        font-weight: 600;
        font-size: 1em;
    }

    .container-filtres {
        display: flex;
        flex-wrap: wrap;
        min-width: 200px;

    }

    .btn-filtres {
        display: flex;
        justify-content: flex;
        width: 40%;
        height: auto;
        gap: 20px;
    }


    .container-hebergements-et-populaires-cards {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        height: 100%;
        gap: 20px;
    }

    .title-populaires {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: none;
        gap: 20px;
    }

    .container-populaires_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        height: 100%;
        gap: 20px;
        border-radius: unset;

    }

    .cards-plus-populaires {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: auto;
        gap: 20px;
        padding: 10px;


    }

    .card-populaires {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 80%;
        gap: 5px;
    }

    .card-image_populaires {
        display: inline-block;
        width: 33.33%;
        height: 145px;
        object-fit: cover;
        gap: 3px;
    }

    .card-caption_populaire {
        display: flex;
        justify-content: space-between;
    }

    .card-hebergements:nth-child(1) {
        order: 1;
    }

    .card-hebergements:nth-child(2) {
        order: 6;
    }

    .card-hebergements:nth-child(3) {
        order: 3;
    }

    .card-hebergements:nth-child(4) {
        order: 4;
    }

    .card-hebergements:nth-child(5) {
        order: 2;
    }

    .card-hebergements:nth-child(6) {
        order: 5;
    }

    .affichez-plus {
        display: flex;
        justify-content: space-between;
    }

    .container-hebergements_title {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        width: auto;
        object-fit: cover;
        border-radius: unset;
        padding: 15px;
    }

    .container-hebergements_cards {
        display: flex;
        justify-content: flex-start;
        background-color: white;
        height: 80%;
        width: auto;
        gap: 15px;
        border-radius: unset;
    }

    .card-hebergements {
        height: 80%;
        width: 100%;
    }

    .card-image_hebergements {
        object-fit: cover;
        height: 100px;
        width: 100%;
    }

    .title-activites {
        width: 80%;
        padding-left: 20px;

    }

    .container-activites {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
        height: 80%;
        padding: 20px;
        border-radius: unset;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 180px;
        justify-content: space-between;
    }

    .gallery img {
        object-fit: cover;
        height: 140px;
        width: 100%;
    }

    .description {
        height: min-content;

    }

    .container-main_footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-between;
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .title-footer {
        display: inline-flex;
        flex-wrap: nowrap;
    }

}