h1 {
    color: black;
    font-size: 1em;
    font-style: normal;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
h2 {
    color: black;
    font-size: 1em;
    font-style: normal;
}

.logo_booki {
    text-align: left;
}

